## AUTO-DETECT
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
##   This will handle all files NOT defined below.
* text=auto

## SOURCE CODE
*.css      text
*.html     text
*.js       text
*.json     text
*.scss     text

## DOCUMENTATION
*.md         text
*.txt        text
LICENSE      text

## CONFIGS
.editorconfig   text
.gitattributes  text
.gitconfig      text
.gitignore      text
